doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Videochat using WebRTC')
    meta(name='author', content='@mrganser')
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', href='/thirdparty/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/thirdparty/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://www.google.com/recaptcha/api.js')
  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img#logo(src='/images/chatterbox.png', alt='Chatter Box')
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/videochat', role='button') Videochat

    script(src='/thirdparty/jquery/jquery-2.2.3.min.js')
    script(src='/thirdparty/bootstrap/bootstrap.min.js')
    script(src='/javascripts/utils.js')

    block content
