extends layout

block content
  div#overlay
    #toolbar
      a.toolbarButton.btn.btn-default(href='/', title='Leave')
        i.fa.fa-reply.fa-lg
      button#call.toolbarButton.btn.btn-default(title='Call')
        i.fa.fa-phone.fa-lg
      button.toolbarButton.btn.btn-default(onclick='toggleFullScreen();', title='Enter/exit fullscreen')
        i.fa.fa-arrows-alt.fa-lg
      button.toolbarButton.btn.btn-default(title='Share')
        i.fa.fa-share.fa-lg
      button.toolbarButton.btn.btn-default(onclick='toggleVideo();', title='Start/stop camera')
        i.fa.fa-video-camera.fa-lg
      button.toolbarButton.btn.btn-default(onclick='toggleAudio();', title='Mute/unmute')
        i.fa.fa-microphone.fa-lg
  div#mainVideoContainer
    video#mainVideo(autoplay)
  div#allVideosContainer
    video#localVideo.membersVideo(muted, autoplay, width='160' height='120')
    video.membersVideo(autoplay, width='160' height='120')
    video.membersVideo(autoplay, width='160' height='120')
    video.membersVideo(autoplay, width='160' height='120')
    video.membersVideo(autoplay, width='160' height='120')

  script.
    var roomName="#{roomName}";
  script(src='/socket.io/socket.io.js')
  script(src='/thirdparty/adapter/adapter.js')
  script(src='/javascripts/controllers/room.js')
