extends layout

block content
    .container
        .row
            .col-md-12
                h1 Video
                p Accept the video permission and call!
                div
                    button#call.btn.btn-success Call
                div
                    video#localVideo(muted, autoplay, width='160' height='120')
                div
                    video#remoteVideo(autoplay, width='640' height='480')

    script(src='/socket.io/socket.io.js')
    script(src='/thirdparty/adapter/adapter.js')
    script(src='/javascripts/controllers/videochat.js')
