extends layout

block content
  #jumbotron.jumbotron.jumbotron-fluid
    .container
      .row
        .col-md-12.text-center
          h1.display-4 Welcome to ChatterBox!
          p.lead Here you can videochat with your friends with just your web browser!
      .row
        i.mx-auto.far.fa-comment-alt.fa-2x
      hr
      .row
        .col-md-8.offset-md-2
          form(action='/goroom' method='POST')
            .input-group.input-group-lg
              input.form-control(name='roomName', required='required', placeholder='Room name', maxLength='36')
              .input-group-append
                button.btn.btn-success(type='submit') Create
  .container
    .row
      .col-md-4.text-center
        h3 Videochat with your friends
        p.lead Prepare your webcam!
        p
          span(aria-hidden='true').fa.fa-video.fa-5x
      .col-md-4.text-center
        h3 No plugins needed
        p.lead Only your web browser
        p
          span(aria-hidden='true').fab.fa-chrome.fa-5x
      .col-md-4.text-center
        h3 Point to point connection
        p.lead Your information doesn't go through a server!
        p
          span(aria-hidden='true').fa.fa-exchange-alt.fa-5x
    hr
    footer
      p
        span Handcrafted with 
        i.fa.fa-heart.text-danger
        span  by 
        a(href='http://mrganser.com/', target='_blank', rel='noopener noreferrer') @mrganser
