doctype html
html
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Videochat using WebRTC')
    meta(name='author', content='@mrganser')
    meta(http-equiv='Content-Security-Policy' content="script-src 'unsafe-inline' 'self'")
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', href='/thirdparty/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #appHeader.navbar.navbar-dark.fixed-top(role='navigation')
      .container
        a.navbar-brand(href='/')
          img.d-inline-block.align-top#logo(src='/images/chatterbox.png', alt='Chatter Box Logo')

    script(src='/thirdparty/jquery/jquery.min.js')
    script(src='/thirdparty/popper/popper.min.js')
    script(src='/thirdparty/bootstrap/bootstrap.min.js')
    script(src='/thirdparty/font-awesome/all.min.js')
    script(src='/javascripts/utils.js')

    block content
