extends layout

block content
  #precallActions
    h1.display-4 Room #{roomName}
    input#roomName(type='hidden', value=roomName)
    button#joinRoom.btn.btn-success(type='button') JOIN 
      i.fa.fa-phone.fa-fw
  #helperMessage 
    i#helperMessageIcon.fa.fa-users.fa-lg(aria-hidden='true')
    p#helperMessageText Waiting for members to join. <br /> Share the link with your friends.
  #shareModal.modal.fade(role='dialog', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Copy the link and share it!
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.fa.fa-times
        .modal-body
          .input-group.input-group-lg
            input#urlToCopy.form-control(type='text', value=urlToShare)
            .input-group-append
              button#copyURL.btn.btn-success(type='button', data-dismiss='modal') Copy
  #overlay
    #toolbar
      a.toolbarButton.btn.btn-sm.btn-light(href='/', data-tooltip='tooltip', title='Leave')
        span.fa-stack.fa-lg
          i.fa.fa-sign-out-alt.fa-flip-horizontal.fa-stack-1x
      button#toggleFullScreen.toolbarButton.btn.btn-sm.btn-light(data-tooltip='tooltip', title='Enter/exit fullscreen')
        span.fa-stack.fa-lg
          i.fa.fa-arrows-alt.fa-stack-1x
          i#fullscreenIconBan.fa.fa-ban.fa-stack-2x.text-danger
      button.toolbarButton.btn.btn-sm.btn-light(data-toggle='modal', data-target='#shareModal', data-tooltip='tooltip', title='Share')
        span.fa-stack.fa-lg
          i.fa.fa-share-alt.fa-stack-1x
      button#toggleVideo.toolbarButton.btn.btn-sm.btn-light(data-tooltip='tooltip', title='Start/stop your camera')
        span.fa-stack.fa-lg
          i.fa.fa-video.fa-stack-1x
          i#cameraIconBan.fa.fa-ban.fa-stack-2x.text-danger
      button#toggleAudio.toolbarButton.btn.btn-sm.btn-light(data-tooltip='tooltip', title='Mute/unmute your microphone')
        span.fa-stack.fa-lg
          i.fa.fa-microphone.fa-stack-1x
          i#muteIconBan.fa.fa-ban.fa-stack-2x.text-danger
  div#mainVideoContainer
    video#mainVideo(autoplay)
  div#allVideosContainer
    .memberVideoWrapper
      div#localVideoToolbar
        i(title='Me', data-tooltip='tooltip').fa.fa-user-circle
      video#localVideo.memberVideo(muted, autoplay)

  script(src='/socket.io/socket.io.js')
  script(src='/thirdparty/adapter/adapter.js')
  script(src='/javascripts/models/remote-stream-model.js')
  script(src='/javascripts/controllers/room-controller.js')
  script(src='/javascripts/controllers/toolbar-controller.js')
