html, body{
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#logo {
	height: 26px;
}
.navbar-brand {
	padding: 12px 12px;
}