html, body {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 40px;
  font-size: 16px;
}

#logo {
	height: 22px;
}

.transparentNavbar {
  background: transparent;
  border-color: transparent;
  transition: all 1s ease-in;
}

/*TODO: It doesn't disappear on mobiles*/
#overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}
#overlay:hover > #toolbar, #overlay:active > #toolbar, #overlay:focus > #toolbar {
  visibility: visible;
  opacity: 0.6;
}

#helperMessage {
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
  font-size: 30px;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: rgba(255,255,255,0.5) 0px 2px 2px;
  color: #666;
}
#helperMessageIcon {
  display: inline;
}

#toolbar {
  display: inline-block;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out 0s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.toolbarButton {
  border-radius: 0;
}
#shareModal .close {
  color: #666;
}
#cameraIconBan {
  visibility: hidden;
}
#muteIconBan {
  visibility: hidden;
}

#mainVideo {  
  min-width: 100%;
  min-height: 100%;
}

#mainVideoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#allVideosContainer {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-height: 120px;
}

.memberVideoWrapper {
  max-width: 160px;
  max-height: 120px;
  margin-left: 10px;
}

.memberVideo {
  max-height: 120px;
  width: 100%;
}