html, body {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 40px;
  font-size: 16px;
}

#logo {
	height: 22px;
}

.transparentNavbar {
  background: transparent;
  border-color: transparent;
  transition: all 1s ease-in-out;
}

#roomName {
  float: right;
  color: white;
  margin: 0;
  padding: 12px;
}

#overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}
#overlay:hover > #toolbar {
  visibility: visible;
  opacity: 0.4;
}

#toolbar {
  display: inline-block;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out 0s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.toolbarButton {
  border-radius: 0;
}

#mainVideo {  
  min-width: 100%;
  min-height: 100%;
}

#mainVideoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#allVideosContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.membersVideo {
  margin-left: 12px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}